<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="/assets/css/contact.css" />
    <link rel="icon" href="/assets/icon/dumbways.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <style>
           @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        * {
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .nav-link {
            font-size: 25px;
        }

        .nav-link a {
            color: black;
            white-space: nowrap;
            display: block;
            text-decoration: none;
        }

        .nav-link a:hover {
            color: orangered;
        }
    
            .btn-submit {
            background-color: #f7f7f7;
            color: #333;
            padding: 10px;
            width: 130px;
            font-size: 16px;
            border-radius: 10px;
            text-decoration: none;
            text-align: center;
            border: 2px solid #333;
            transition: background-color 0.3s ease, color 0.3s ease;
        }
    
        .btn-submit:hover {
            background-color: #333;
            color: #fff;
        }
        </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/assets/image/dumbways.png" alt="Dumbways Logo" style="height: 50px; width: 75px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/My-Project"><i class="fa fa-desktop"></i> My Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonial"><i class="fa fa-star"></i> Testimonials</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn" type="submit" style="background-color: #f7f7f7; color: #333; padding: 10px; width: 180px; font-size: 16px; border-radius: 10px; text-decoration: none; border: 2px solid #333; transition: background-color 0.3s ease, color 0.3s ease;"
                        onmouseover="this.style.backgroundColor='#333'; this.style.color='#fff'" onmouseout="this.style.backgroundColor='#f7f7f7'; this.style.color='#333'">
                        <a href="/contact" style="color: inherit; text-decoration: none; margin-right: 5px;">
                            <i class="fa fa-phone"></i> Contact Me
                        </a>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div class="hamburger-nav-container" id="hamburger-nav-container">
        <a href="/"><i class="fa fa-home"></i> Home</a>
        <a href="/My-Project"><i class="fa fa-desktop"></i> My Project</a>
        <a href="/testimonial"><i class="fa fa-star"></i> Testimonials</a>
        <a href="/contact" class="active"><i class="fa fa-phone"></i> Contact Me</a>
    </div>

    <div class="col-12" style="background-color: #e3e7eb; text-align: center;">
        <div class="col-md-4 mx-auto" style=" padding: 20px; border-radius: 10px;">
            <h1><i class="fas fa-hand-pointer"></i> GET IN TOUCH</h1>
            <br>
            <form>
                <div class="mb-3 align-items-center">
                    <label for="inputName" class="d-flex fw-bold">
                        <i class="fas fa-user" style="margin-right: 5px; margin-top: 5px;"></i> Name
                    </label>
                    <input type="text" id="inputName" class="form-control" />
                </div>
                
                <div class="mb-3 align-items-center">
                    <label for="inputEmail" class="d-flex fw-bold">
                        <i class="fa fa-envelope" style="margin-right: 5px; margin-top: 5px;"></i> Email
                    </label>
                    <input type="email" id="inputEmail" class="form-control" />
                </div>
                
                <div class="mb-3 align-items-center">
                    <label for="inputPhone" class="d-flex fw-bold">
                        <i class="fa fa-phone-square" style="margin-right: 5px; margin-top: 5px;"></i> Phone Number
                    </label>
                    <input type="tel" id="inputPhone" class="form-control" />
                </div>
                
                <div class="mb-3 align-items-center">
                    <label for="inputSubject" class="d-flex fw-bold">
                        <i class="fas fa-laptop-code" style="margin-right: 5px; margin-top: 5px;"></i> Subject
                    </label>
                    <select id="inputSubject" class="form-select">
                        <option value=""></option>
                        <option value="Frontend Developer">Frontend Developer</option>
                        <option value="Backend Developer">Backend Developer</option>
                        <option value="Fullstack Developer">Fullstack Developer</option>
                    </select>
                </div>                
    
                <div class="mb-3 align-items-center">
                    <label for="inputMessage" class="d-flex fw-bold">
                        <i class="fa fa-commenting" style="margin-right: 5px; margin-top: 5px;"></i> Your Message
                    </label>
                    <textarea id="inputMessage" class="form-control"></textarea>
                </div>
    
                <div class="d-flex justify-content-end mt-4">
                <button type="submit" class="btn-submit" onclick="submitData()"><i class="fa fa-paper-plane"></i> Submit</button>
                </div>                 
            </form>
        </div>
    </div>
    
    <script src="/assets/js/boostrap.bundle.js"></script>
    <script src="/assets/js/contact.js"></script>
    <script src="/assets/nav.js"></script>
</body>

</html>