<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="icon" href="/assets/icon/dumbways.ico" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        * {
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .nav-link {
            font-size: 25px;
        }

        .nav-link a {
            color: black;
            white-space: nowrap;
            display: block;
            text-decoration: none;
        }

        .nav-link a:hover {
            color: orangered;
        }

        .active {
            color: black !important;
            font-weight: bold;
        }

        .button:hover {
            color: orangered;
            color: #fff;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/assets/image/dumbways.png" alt="Dumbways Logo" style="height: 50px; width: 75px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/My-Project"><i class="fa fa-desktop"></i> My Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonial"><i class="fa fa-star"></i> Testimonials</a>
                    </li>
                </ul>

                <div class="d-flex justify-content-end">
              <ul class="navbar-nav me-auto mb-2 ms-5 mb-lg-0">
                {{#if isLogin}}
                  <li class="nav-item">
                    <a class="nav-link fw-bold active text-danger">Hello, {{user}}</a>
                  </li>
                  <li class="nav-item ms-3">
                    <a class="nav-link" href="#"><i class="fa fa-sign-out"></i> Logout</a>
                  </li>
                {{else}}
                  <li class="nav-item">
                    <a class="nav-link" href="/register"><i class="fa fa-registered"></i> Register</a>
                  </li>
                  <li class="nav-item ms-3">
                    <a class="nav-link" href="/login"><i class="fa fa-sign-in"></i> Login</a>
                  </li>
                {{/if}}
              </ul>

                <form class="d-flex">
                    <button class="btn" type="submit" style="background-color: #f7f7f7; color: #333; padding: 10px; width: 180px; font-size: 16px; border-radius: 10px; text-decoration: none; border: 2px solid #333; transition: background-color 0.3s ease, color 0.3s ease;"
                        onmouseover="this.style.backgroundColor='#333'; this.style.color='#fff'" onmouseout="this.style.backgroundColor='#f7f7f7'; this.style.color='#333'">
                        <a href="/contact" style="color: inherit; text-decoration: none;">
                            <i class="fa fa-phone"></i> Contact Me
                        </a>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    {{#if messages.success}}
        <div class="alert alert-success" role="alert">
          <div class="container">
            {{messages.success}}
          </div>
        </div>
      {{/if}}

    <div class="hamburger-nav-container" id="hamburger-nav-container">
        <a href="/" class="active"><i class="fa fa-home"></i> Home</a>
        <a href="/My-Project"><i class="fa fa-desktop"></i> My Project</a>
        <a href="/testimonial"><i class="fa fa-star"></i> Testimonials</a>
        <a href="/contact"><i class="fa fa-phone"></i> Contact Me</a>
    </div>

    <section class="profile-container">
        <div class="left">
            <img style="width: 100%;" src="/assets/image/Ravano.jpeg" alt="Ravano Image">
            <h1><i class="fa fa-user"></i> Ravano Akbar Widodo</h1>
            <br>
            <p style="font-family: monospace; font-size: 17px; text-align: justify;">
                👋🏻Halo, Perkenalkan Nama Saya Ravano Akbar Widodo. Saya Berusia 18 Tahun Tinggal Di Daerah Kreo Selatan,
                Tangerang. Saya Memiliki Ketertarikan Di Dunia Teknologi Informasi.
                Saya Bercita-Cita Untuk Menjadi Seorang Full-Stack Developer Dan Mendalami Berbagai Aspek Pengembangan
                Perangkat Lunak. Saya Mengetahui Program Bootcamp Ini Melalui Penjelajahan Saya Di Internet Dan Merasa
                Sangat Antusias Untuk Belajar Lebih Lanjut Dalam Perjalanan Karier Saya Di Dunia Teknologi.
            </p>
            <br>
            <div>
                 <a href="https://wa.me/6285697572220/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-whatsapp"></i></a>
                 <a href="https://www.facebook.com/ravano.widodo.54/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-facebook"></i></a>
                 <a href="https://www.linkedin.com/in/ravano-akbar-widodo-2894b9296/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-linkedin"></i></a>
                 <a href="https://www.instagram.com/ravanoakbarwidodo/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-instagram"></i></a>
                 <a href="https://twitter.com/5044Ravano/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-twitter"></i></a>
                 <a href="https://www.tiktok.com/@ravanowidodo/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-tiktok"></i></a>
                 <a href="https://github.com/ravano-2464/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-github"></i></a>
            </div>
            <br>
            <p>Dumbways</p>
            <div class="container mt-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Personal Web</td>
                            <td>2023</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="right">
            <h2><i class="fas fa-question-circle"></i> What I Do ?</h2>
            <br>
            <p style="text-align: justify;">As A Full Stack Developer, I'm Involved In Building Both The Front End
                (Client-Side) And Back End (Server-Side) Parts Of A Web Application Or Software.
            </p>
            <div class="skill">
                <br>
                <div>
                    <h2><i class="fab fa-js-square"></i> Javascript</h2>
                    <br>
                    <p style="text-align: justify;">JavaScript Is A Versatile And Widely Used Programming Language
                        Primarily Employed For Building Dynamic And Interactive Content On Websites. It Is A Client-Side
                        Scripting Language, Meaning It Runs In A User's Web Browser Rather Than On A Server. JavaScript
                        Allows Developers To Enhance The User Experience By Creating Responsive And Interactive Elements
                        Within Web Pages.</p>
                </div>
                <br>
                <div>
                    <h2><i class="fab fa-github"></i> Github</h2>
                    <br>
                    <p style="text-align: justify;">GitHub Is A Web-Based Platform That Serves As A Collaborative
                        Development Platform For Software Projects. It Is Primarily A Version Control System That
                        Enables Multiple Developers To Work On A Project Simultaneously Without Conflicting With Each
                        Other's Changes. Developed Using Git, GitHub Provides A Centralized Hub For Managing And Tracking
                        Changes To Source Code.</p>
                </div>
                <br>
                <div>
                    <h2><i class="fas fa-rocket"></i> Deployment</h2>
                    <br>
                    <p style="text-align: justify;">Deployment, In The Context Of Software Development, Refers To The
                        Process Of Making A Software Application Or System Available For Use. It Involves Taking The
                        Codebase, Configuration Settings, And Other Necessary Assets Developed During The Software
                        Development Lifecycle And Placing Them In A Production Environment. This Production Environment
                        Is The Actual Server Or Hosting Infrastructure Where The Application Will Run And Be Accessed By
                        End-Users.</p>
                </div>
            </div>
            <br>
            <div class="social-media">
              <h2><i class="fas fa-at"></i> Found Me On</h2>
              <br>
                 <a href="https://wa.me/6285697572220/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-whatsapp"></i></a>
                 <a href="https://www.facebook.com/ravano.widodo.54/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-facebook"></i></a>
                 <a href="https://www.linkedin.com/in/ravano-akbar-widodo-2894b9296/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-linkedin"></i></a>
                 <a href="https://www.instagram.com/ravanoakbarwidodo/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-instagram"></i></a>
                 <a href="https://twitter.com/5044Ravano/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-twitter"></i></a>
                 <a href="https://www.tiktok.com/@ravanowidodo/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-tiktok"></i></a>
                 <a href="https://github.com/ravano-2464/" target="_blank" style="color: black; font-size: 2em;"><i class="fab fa-github"></i></a>
            </div>
         </div>
    </section>

    <script src="/assets/js/nav.js"></script>
</body>

</html>